# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Migraciones (opcional, muchos equipos las versionan igual)
# */migrations/*.py
# !*/migrations/__init__.py

# Entornos virtuales
venv/
env/
.venv/
ENV/

# Variables de entorno
.env
.env.*

# Distribución / empaquetado
build/
dist/
*.egg-info/
.eggs/

# Testing / coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/

# Static files (si se generan con collectstatic)
staticfiles/
static_root/

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema operativo
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid

# Jupyter Notebook
.ipynb_checkpoints
